option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /: /public
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
    nginx: client_max_body_size 10m;
    nginx: gzip_static on;

files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          return 301 https://$host$request_uri;
      }
